<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellowdoge.app.xiyoumusic.mapper.HuiFuMapper">
  <resultMap id="BaseResultMap" type="com.yellowdoge.app.xiyoumusic.model.HuiFu">
    <id column="hfid" jdbcType="BIGINT" property="hfid" />
    <result column="hfnr" jdbcType="VARCHAR" property="hfnr" />
    <result column="plid" jdbcType="BIGINT" property="plid" />
    <result column="hfzxh" jdbcType="VARCHAR" property="hfzxh" />
    <result column="hfmbid" jdbcType="BIGINT" property="hfmbid" />
    <result column="bhfzxh" jdbcType="VARCHAR" property="bhfzxh" />
  </resultMap>
  <sql id="Base_Column_List">
    hfid, hfnr, plid, hfzxh, hfmbid, bhfzxh
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from table_hf
    where hfid = #{hfid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from table_hf
    where hfid = #{hfid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yellowdoge.app.xiyoumusic.model.HuiFu">
    insert into table_hf (hfid, hfnr, plid, 
      hfzxh, hfmbid, bhfzxh
      )
    values (#{hfid,jdbcType=BIGINT}, #{hfnr,jdbcType=VARCHAR}, #{plid,jdbcType=BIGINT}, 
      #{hfzxh,jdbcType=VARCHAR}, #{hfmbid,jdbcType=BIGINT}, #{bhfzxh,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yellowdoge.app.xiyoumusic.model.HuiFu">
    insert into table_hf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hfid != null">
        hfid,
      </if>
      <if test="hfnr != null">
        hfnr,
      </if>
      <if test="plid != null">
        plid,
      </if>
      <if test="hfzxh != null">
        hfzxh,
      </if>
      <if test="hfmbid != null">
        hfmbid,
      </if>
      <if test="bhfzxh != null">
        bhfzxh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hfid != null">
        #{hfid,jdbcType=BIGINT},
      </if>
      <if test="hfnr != null">
        #{hfnr,jdbcType=VARCHAR},
      </if>
      <if test="plid != null">
        #{plid,jdbcType=BIGINT},
      </if>
      <if test="hfzxh != null">
        #{hfzxh,jdbcType=VARCHAR},
      </if>
      <if test="hfmbid != null">
        #{hfmbid,jdbcType=BIGINT},
      </if>
      <if test="bhfzxh != null">
        #{bhfzxh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yellowdoge.app.xiyoumusic.model.HuiFu">
    update table_hf
    <set>
      <if test="hfnr != null">
        hfnr = #{hfnr,jdbcType=VARCHAR},
      </if>
      <if test="plid != null">
        plid = #{plid,jdbcType=BIGINT},
      </if>
      <if test="hfzxh != null">
        hfzxh = #{hfzxh,jdbcType=VARCHAR},
      </if>
      <if test="hfmbid != null">
        hfmbid = #{hfmbid,jdbcType=BIGINT},
      </if>
      <if test="bhfzxh != null">
        bhfzxh = #{bhfzxh,jdbcType=VARCHAR},
      </if>
    </set>
    where hfid = #{hfid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yellowdoge.app.xiyoumusic.model.HuiFu">
    update table_hf
    set hfnr = #{hfnr,jdbcType=VARCHAR},
      plid = #{plid,jdbcType=BIGINT},
      hfzxh = #{hfzxh,jdbcType=VARCHAR},
      hfmbid = #{hfmbid,jdbcType=BIGINT},
      bhfzxh = #{bhfzxh,jdbcType=VARCHAR}
    where hfid = #{hfid,jdbcType=BIGINT}
  </update>
</mapper>